<h1>Chord "<%=@chord.name%>"</h1>

<h3>See song(s) with the chord</h3><br>

<% @chord.songs.each do |s|%>
    <%if s.user.username == current_user.username%>
        <li><a href="/songs/<%=s.slug%>"><%=s.name%></a></li><br>
    <%end%>
<%end%>
<br>

<button class="btn btn-default"><a href="/chords/<%=@chord.slug%>/delete">Delete chord</a></button>

