<h3>Login to UkeChords</h3>
<form action="/login" method="POST">
  <p> Username: <input type="text" name="username" placeholder="username"></p>
  <p> Password:<input type="password" name="password" placeholder="password"></p>
  <input type="submit" id= "submit" value="login">
</form>

<h4>New to UkeChords? <a href="/signup">Sign up</a> for a new account </h4>