<h1>New Song</h1>
<form action="/songs" method="POST">
    <b><label>Song Name (Avoid "/")</label></b><br>
    <input type="text" name="song[name]">
    <br>
    <h2>What chords are in the song?</h2>
    <%if !Chord.all.empty? %>
        <p>Choose from existing chords:</p>
        <% Chord.all.each do |chord| %>
            <label><%= chord.name %></label>
            <input type="checkbox" name="song[chord_ids][]" value="<%= chord.id %>" id="<%= chord.name %>"><br>
        <% end %>
    <%end%>
    <br>
    Can't find your chordes? Add new chords below:
    <br>
    <% 5.times do %>
        <input type="text" name="chord[name][]"><br>
    <%end%>
    <br>
    <button type ="submit" class="btn btn-default">Submit</button>
</form>